
.ck .table-template-view {
	border-top: #2B2E34;
	padding: 10px;

	h3 {
		width: 100%;
		font-size: 16px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 8px;
		border-radius: 4px;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: var(--ck-color-button-default-hover-background);
		}

		.ck.table-template-icon {
			margin-left: 8px;
			display: inline-flex;
			width: 16px;
			height: 16px;
			flex-shrink: 0;

			svg {
				width: 100%;
				height: 100%;
				fill: var(--ck-color-text);
			}
		}
	}
}

.ck .table-template-group {
	max-height: 150px;
	overflow: auto;

	.table-template-item {
		padding: 5px;
	}
}